<footer>
    <div class="contact-us">
        <p>@footerCopy</p>
        <NavLink href="/contact">
            <span class="bi bi-envelope-fill-nav-menu" aria-hidden="true"> @footerContactLabel</span>
        </NavLink>
    </div>
</footer>

@code {
    private string footerCopy = "If you have any questions, contact us by clicking below";
    private string footerContactLabel = "Contact Us";
}