@inherits LayoutComponentBase

<div class="page">
    <header class="sidebar">
        <NavMenu />
    </header>

    <main>
        <article class="content logo-watermark">
            @Body
        </article>
    </main>
    <Footer></Footer>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
