@page "/about"


<PageTitle>About</PageTitle>
<section class="m-3 m-md-4">
    <h1>About</h1>

    <h2>
        Spreading Positivity, One High Five at a Time
    </h2>
    <p class="large-copy">At High Five HQ, we believe in the power of a simple gesture—the high five. Whether it's
        celebrating a victory,
        lifting someone's spirits, or just spreading good vibes, a well-timed high five can make all the difference.</p>

    <h4>Our Mission</h4>
    <p class="large-copy">Our goal is to make the world a more uplifting place, one high five at a time. We celebrate
        connection,
        enthusiasm,
        and positivity by promoting the universal joy of this timeless gesture.</p>

    <h3>Why High Fives?</h3>
    <ul>
        <li><strong>Instant Mood Booster</strong> - A high five is scientifically proven to boost morale and create a
            sense
            of connection.</li>
        <li><strong>Universal and Inclusive</strong> - No matter where you're from, a high five is a symbol of
            encouragement
            and camaraderie.</li>
        <li><strong>Fun and Energizing</strong> - Whether it's sports, work, or everyday life, a high five keeps the
            energy
            high and the smiles wide.</li>
    </ul>
    <h4>
        Join the Movement
    </h4>
    <p class="large-copy">
        Looking for the perfect high five technique? Want to master the art of the high five in every situation? You’re
        in the right place. Explore our site for tips, stories, and everything you need to make your high fives
        legendary.
    </p>

    <img class="about-image" src="../images/High-Five_Large.jpg" alt="Group high five" />
</section>