@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<Banner Title="Welcome to the Home of High Fives!" Blurb="Spreading good vibes, one high five at a time! If you’re feeling the energy, show us some love — give us a high five below and watch the counter climb!">
    
    <button class="btn btn-primary" @onclick="IncrementCount">High five!</button>
    @if (highFiveCount > 0)
    {
        <p role="status" class="ps-2 m-0 d-inline-block">Wow! you've given me @highFiveCount high five@(highFiveCount > 1 ? "s" : "")!</p>
    }
</Banner>
<p class="mx-auto my-4 p-2 p-md-4 text-center fs-4 home-copy-wrapper large-copy">
    @homePageCopy
</p>
<section class="cards-wrapper m-2 m-md-4">
    @foreach (var card in CardList)
    {
        <Card Title="@card.Title" Description="@card.Description" ImageUrl="@card.ImageUrl" ImageAltText="@card.ImageAltText"></Card>
    }
</section>

@code {
    private int highFiveCount = 0;

    private void IncrementCount()
    {
        highFiveCount++;
    }

    private string homePageCopy = "Nothing brings people together like a well-timed high five! Whether it’s slapping success in the office, taking it to new heights, or even defying gravity with a space-worthy five, this simple gesture is hands down the best way to celebrate. From everyday wins to milestone moments, a high five says it all—no words needed, just pure positivity. So go on, raise your hand, make a connection, and keep the good vibes going!";

    public List<CardItem> CardList = new List<CardItem>()
    {
        new CardItem("./images/CelebratoryOfficeHigh-five.jpg", "Celebrating with a High Five!", 
            "Slapping success, one high five at a time!", "Nothing says ‘great job’ like a crisp high five in the office!"),
        
        new CardItem("./images/higherfive.jpg", "Taking It to the Next Level!", 
            "Why stop at a high five when you can go *higher*?", "Elevate your celebrations with the ultimate aerial high five!"),
        
        new CardItem("./images/highfive.jpg", "The Classic Connection!", 
            "Hands down, the best way to celebrate!", "A timeless way to share excitement, motivation, and victory!"),
        
        new CardItem("./images/SpaceHighFive.jpg", "High Five in Low Gravity", 
            "Five fingers, infinite positivity!", "Even in space, the universal joy of a high five transcends gravity!"),
        
        new CardItem("./images/HighFive-completion.jpg", "Mission Accomplished!", 
            "Earn that high five!", "When words aren’t enough, let your hands do the talking!"),
    };

}
